<div class="container page-min-height">
    <div class="flex-space-between">
        <div>
            <h2>Todas as Empresas</h2>
            <hr class="hr">
        </div>
        <div>
            <a class="btn btn-success" role="button" routerLink="/admin/company/create">Criar Empresa</a>
        </div>
    </div>
    <div class="col-md-12">
        <ul>
            <li *ngFor="let company of companies">
                <a [routerLink]="['/admin/company/details', company._id]">{{company.companyName}}</a>
                <a [routerLink]="['/admin/company', company._id]" class="btn btn-secondary" role="button">Editar</a>
                <button (click)="delete(company)" class="btn btn-danger">Excluir</button>
            </li>
        </ul>
    </div>
</div>